@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.rz-datatable {
	border: none !important;
}

.rz-grid-table thead th .rz-column-title {
	font-size: 14px !important;
	font-family: 'Open Sans';
	font-weight: bold !important;
	color: black !important;
	text-transform: none !important;
}

.rz-grid-table thead th {
	border: none !important;
	border-bottom: 3px solid #ddd !important;
	background: white !important;
}

.rz-grid-table td .rz-cell-data {
	font-size: 14px !important;
	font-family: 'Open Sans';
}

.rz-grid-table td:not(:last-child) {
	border: none !important;
}

.rz-splitbutton .rz-button-text-icon-left {
	font-size: 14px !important;
}

.rz-menuitem {
	font-size: 14px !important;
}

.rz-grid-table-fixed {
	table-layout: unset !important;
}