﻿<h3>Opdrachtgegevenvullingconfiguraties</h3>

@if (_opdrachtgegevenvullingconfiguraties == null) {
	<p><em>Loading...</em></p>
	return;
}

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th rowspan="2">
				<span jc-l10n-text="workflow.item.opdrachtgegevenvulling.configuratie.opdrachtgegevennaam">Naam</span>
			</th>
			<th rowspan="2">
				<span jc-l10n-text="workflow.item.opdrachtgegevenvulling.configuratie.opdrachtgegevenwaardetype">Soort</span>
			</th>
			<th rowspan="2">
				<span jc-l10n-text="workflow.item.opdrachtgegevenvulling.configuratie.vulling">Vulling</span>
			</th>

			<th rowspan="2">
				<span jc-l10n-text="workflow.item.opdrachtgegevenvulling.configuratie.isVerplicht">Is verplicht</span>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var opdrachtgegevenvullingconfiguratie in _opdrachtgegevenvullingconfiguraties)
		{
			<tr>
				<td>@opdrachtgegevenvullingconfiguratie.Opdrachtgegevennaam</td>
				<td>@opdrachtgegevenvullingconfiguratie.Opdrachtgegevenwaardetype</td>
				<td>
					@if (opdrachtgegevenvullingconfiguratie.GebeurtenisgegevendefinitieId != null)
					{
						@($"{_gebeurtenisdefinitieById[opdrachtgegevenvullingconfiguratie.GebeurtenisgegevendefinitieId.Value].Naam}, {_gebeurtenisdefinitieById[opdrachtgegevenvullingconfiguratie.GebeurtenisgegevendefinitieId.Value].Soort}")
					}
					else
					{
						@($"{opdrachtgegevenvullingconfiguratie.IngevuldeWaarde}")
					}
				</td>
				<td>
					<input disabled type="checkbox" @bind="@opdrachtgegevenvullingconfiguratie.IsVerplicht" />
				</td>
			</tr>
		}
	</tbody>
</table>