﻿@page "/workflowconfiguratie/{workflowconfiguratieId:guid}/registreerNieuweWorkItemconfiguration"
@page "/workflowconfiguratie/{workflowconfiguratieId:guid}/workitemconfiguratie/{voorgaandeWorkItemconfiguratieId:guid}/registreerNieuweWorkItemconfiguration"
@using Radzen.Blazor;

<h3>RegistreerNieuweWorkItemconfiguration</h3>

<form novalidate @onsubmit="OnSaveClicked">
	<jc-main-header l10n="workflow.item.configuratie.registreernieuwe.header"></jc-main-header>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="common.beschrijving">Beschrijving</label>
				<div class="col-xs-6">
					<textarea type="text" @bind="@_command.Beschrijving" maxlength="250" name="beschrijving" class="form-control" rows="2"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="workflow.item.configuratie.reageerOpGebeurtenis">Reageer op gebeurtenis</label>
				<RadzenDropDown @bind-Value="_command.ReageerOpGebeurtenis"
								Disabled="@(VoorgaandeWorkItemconfiguratieId != null)"
								Data="_gebeurtenissen"
								TextProperty="Naam"
								ValueProperty="Id" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="workflow.item.configuratie.voerOpdrachtUit">Voer opdracht uit</label>
				<RadzenDropDown @bind-Value="_command.VoerOpdrachtUit"
								Data="_opdrachten"
								TextProperty="Naam"
								ValueProperty="Id" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Opslaan</button>
			</div>
		</div>
	</div>
</form>