﻿@using Radzen.Blazor;
@using JClub.WorkflowService.Business.Contracts.ViewModels

<h3>WorkItemconfiguraties</h3>

@if (_workItemconfiguraties == null)
{
	<p><em>Loading...</em></p>
	return;
}

<RadzenDataGrid TItem="WorkItemconfiguratieViewModel"
				Data="_workItemconfiguraties"
				@bind-Value=@_selectedItems
				Style="height:calc(100vh - 357px)"
				SelectionMode="DataGridSelectionMode.Single">
	<Columns>
		<RadzenDataGridColumn TItem="WorkItemconfiguratieViewModel" Property="Titel" Title="Titel" />
		<RadzenDataGridColumn TItem="WorkItemconfiguratieViewModel" Property="Beschrijving" Title="Beschrijving" />
		<RadzenDataGridColumn TItem="WorkItemconfiguratieViewModel" Property="ReageerOpGebeurtenis" Title="Reageer op gebeurtenis">
			<Template Context="detail">
				@_gebeurtenisdefinities[detail.ReageerOpGebeurtenis].Naam
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="WorkItemconfiguratieViewModel" Property="VoerOpdrachtUit" Title="Voer opdracht uit">
			<Template Context="detail">
				@_opdrachtdefinities[detail.VoerOpdrachtUit].Naam
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="WorkItemconfiguratieViewModel" Property="Status" Title="Status" />
		<RadzenDataGridColumn TItem="WorkItemconfiguratieViewModel">
			<Template Context="detail">
				<RadzenSplitButton Click="args => OnSplitButtonClicked(args,detail)" Text="Wijzigen" Style="position: relative">
					<ChildContent>
						<RadzenSplitButtonItem Text="Invoegen (hiervoor)" Value="@($"{Actions.InsertBefore}")" />
						<RadzenSplitButtonItem Text="Invoegen (hierna)" Value="@($"{Actions.InsertAfter}")" />
					</ChildContent>
				</RadzenSplitButton>
			</Template>
		</RadzenDataGridColumn>
	</Columns>
</RadzenDataGrid>

@code {

	private void OnSplitButtonClicked(RadzenSplitButtonItem? splitButtonItem, WorkItemconfiguratieViewModel workItemconfiguratie)
	{

		splitButtonItem?.SplitButton.Close();

		if (splitButtonItem == null)
		{
			NavigateTo(Actions.Edit, workItemconfiguratie);
		}

		if (Enum.TryParse<Actions>(splitButtonItem?.Value, out var action))
		{
			NavigateTo(action, workItemconfiguratie);
		}
	}
}

@*<style>
		.tableFixHead thead th {
			position: sticky;
			/*		top: 0;
	*/		background-color: white;
			z-index: 1;
		}
	</style>

	<table class="tableFixHead table table-condensed table-hover">
		<thead>
			<tr>
				<th></th>
				<th>
					<span jc-l10n-text="common.titel">Titel</span>
				</th>
				<th>
					<span jc-l10n-text="common.beschrijving">Beschrijving</span>
				</th>
				<th>
					<span jc-l10n-text="workflow.item.configuratie.reageerOpGebeurtenis">Reageer op gebeurtenis</span>
				</th>

				<th>
					<span jc-l10n-text="workflow.item.configuratie.voerOpdrachtUit">Voer opdracht uit</span>
				</th>
				<th>
					<span jc-l10n-text="common.status">Status</span>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var (workItemconfiguratie, index) in _workItemconfiguraties.Select((_, i) => (_, i)))
			{
				<tr style="transform: rotate(0);">
					<th scope="row"><a href="workflowconfiguratie/@workflowconfiguratieId/workitemconfiguratie/@workItemconfiguratie.Id" class="stretched-link"></a></th>

					<td>@workItemconfiguratie.Titel</td>
					<td>@workItemconfiguratie.Beschrijving</td>
					<td>
						@_gebeurtenisdefinities[workItemconfiguratie.ReageerOpGebeurtenis].Naam
					</td>
					<td>
						@_opdrachtdefinities[workItemconfiguratie.VoerOpdrachtUit].Naam
					</td>
					<td>
						@workItemconfiguratie.Status
					</td>
					<td class="min-column">
						<RadzenSplitButton Click="args => OnSplitButtonClicked(args, workItemconfiguratie)" Text="Acties" Style="z-index: 2; position:relative">
							<ChildContent>
								<RadzenSplitButtonItem Text="Invoegen (hiervoor)" Value="@($"{Actions.InsertBefore}")" />
								<RadzenSplitButtonItem Text="Invoegen (hierna)" Value="@($"{Actions.InsertAfter}")"/>
							</ChildContent>
						</RadzenSplitButton>
					</td>
				</tr>

			}
		</tbody>
	</table>*@