﻿<h3>Workflowconfiguratie</h3>

@if (_workflowconfiguratie == null)
{

	<p><em>Loading...</em></p>
	return;
}
<form>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4">Titel</label>
				<input type="text" @bind-value="@_workflowconfiguratie.Titel"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4">Beschrijving</label>
				<input type="text" @bind-value="@_workflowconfiguratie.Beschrijving"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4">Reageert op gebeurtenis</label>
				<label>@_workflowconfiguratie.ReageertOpGebeurtenis</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="workflow.configuratie.aangemaaktDoor">Aangemaakt door</label>
				<label>@_workflowconfiguratie.AangemaaktDoor</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="workflow.configuratie.vervangenDoor">Vervangen door</label>
				<label>@_workflowconfiguratie.VervangenDoor</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="common.isActief">Is actief</label>
				<input type="checkbox" bind="@_workflowconfiguratie.IsActief"/>
			</div>
		</div>
	</div>
</form>

<WorkItemconfiguraties workflowconfiguratieId="@WorkflowconfiguratieId"></WorkItemconfiguraties>