﻿<h3>Workflowconfiguraties</h3>

@if (_workflowconfiguraties == null)
{
	<p><em>Loading...</em></p>
	return;
}

<table sortable="titel" sort-object="vm" class="table table-condensed table-hover">
	<thead>
		<tr>
			<th></th>
			<th>
				<span jc-l10n-text="common.titel">Titel</span>
			</th>
			<th>
				<span jc-l10n-text="common.beschrijving">Beschrijving</span>
			</th>
			<th>
				<span jc-l10n-text="workflow.configuratie.reageertOpGebeurtenis">Reageert op gebeurtenis</span>
			</th>
			<th>
				<span jc-l10n-text="workflow.configuratie.aangemaaktDoor">Aangemaakt door</span>
			</th>
			<th>
				<span jc-l10n-text="workflow.configuratie.vervangenDoor">Vervangen door</span>
			</th>
			<th>
				<span jc-l10n-text="common.isActief">Is actief</span>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var workflowconfiguratie in _workflowconfiguraties)
		{
			<tr style="transform: rotate(0);">
				<th scope="row"><a href="workflowconfiguratie/@workflowconfiguratie.Id" class="stretched-link"></a></th>
				<td>@workflowconfiguratie.Titel</td>
				<td>@workflowconfiguratie.Beschrijving</td>
				<td>@workflowconfiguratie.ReageertOpGebeurtenis</td>
				<td>@workflowconfiguratie.AangemaaktDoor</td>
				<td>@workflowconfiguratie.VervangenDoor</td>
				<td>
					<input disabled type="checkbox" bind="@workflowconfiguratie.IsActief" />
				</td>
			</tr>
		}
	</tbody>
</table>