﻿<h3>WorkItemconfiguratie</h3>

@if (_workItemconfiguratie == null) {
	<p><em>Loading...</em></p>
	return;
}

<form>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="common.titel">Titel</label>
				<label>@_workItemconfiguratie.Titel</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="common.beschrijving">Beschrijving</label>
				<div class="col-xs-6">
					<textarea type="text" @bind="@_workItemconfiguratie.Beschrijving" maxlength="250" name="beschrijving" class="form-control" rows="2"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="workflow.item.configuratie.reageerOpGebeurtenis">Reageer op gebeurtenis</label>
				@_gebeurtenisdefinitie?.Naam
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-4" jc-l10n-text="workflow.item.configuratie.voerOpdrachtUit">Voer opdracht uit</label>
				@_opdrachtdefinitie?.Naam
			</div>
		</div>
	</div>
</form>

<Opdrachtgegevenvullingconfiguraties workflowconfiguratieId="@WorkflowconfiguratieId" workItemconfiguratieId="@WorkItemconfiguratieId"></Opdrachtgegevenvullingconfiguraties>