<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
	<Found Context="routeData">
		<AuthorizeRouteView RouteData="@routeData" 
							DefaultLayout="@typeof(MainLayout)" />
		@*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
	</Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
